.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.blackBar {
  background-color: black;
  color: white;
  text-align: center;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

h2,
h3,
a {
  color: #34495e;
}

a {
  text-decoration: none;
}

.logo {
  margin: 0;
  font-size: 1.45em;
}

.main-nav {
  margin-top: 5px;
}
.logo a,
.main-nav a {
  padding: 10px 15px;
  text-transform: uppercase;
  text-align: center;
  display: block;
}

.main-nav a {
  color: #34495e;
  font-size: 0.99em;
}

.main-nav a:hover {
  color: #718daa;
}

.header {
  background-color: #ffffff;
  box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.75);
}

.header,
.main-nav {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logoimg {
  height: 85px;
}

.sidenav {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 160px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: -1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #ffffff; /* White */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 135px;
}

/* The navigation menu links */
.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 15px;
  color: #000000;
  display: block;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #ff0000;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}

h2,
h3,
a {
  color: #34495e;
}

a {
  text-decoration: none;
}

.logo {
  margin: 0;
  font-size: 1.45em;
}

.main-nav {
  margin-top: 5px;
}
.logo a,
.main-nav a {
  padding: 10px 15px;
  text-transform: uppercase;
  text-align: center;
  display: block;
}

.main-nav a {
  color: #34495e;
  font-size: 0.99em;
}

.main-nav a:hover {
  color: #718daa;
}

.header {
  background-color: #ffffff;
  box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.75);
}

.header,
.main-nav {
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 0.5rem #c0c0c0 solid;
}

.logoimg {
  height: 85px;
}

/* Jackets Main Page */
.jackets-content {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.jackets {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}
.jackets li {
  list-style-type: none;
  padding: 0;
  flex: 0 1 34rem;
  margin: 1rem;
  height: 50rem;
  border-bottom: 0.5rem #c0c0c0 solid;
}

.jackets-name {
  font-size: 1.5rem;
  font-weight: bold;
  padding: 5px;
}
.jackets-brand {
  font-size: 1.2rem;
  color: #808080;
  padding: 5px;
}
.jackets-price {
  font-size: 1.5rem;
  font-weight: bold;
  padding: 5px;
}
.jackets-image {
  width: 34rem;
  height: 34rem;
}

/* Bags Main Page */
.bags-content {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.bags {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}
.bags li {
  list-style-type: none;
  padding: 0;
  flex: 0 1 34rem;
  margin: 1rem;
  height: 50rem;

  border-bottom: 0.5rem #c0c0c0 solid;
}

.bags-name {
  font-size: 1.5rem;
  font-weight: bold;
  padding: 5px;
}
.bags-brand {
  font-size: 1.2rem;
  color: #808080;
  padding: 5px;
}
.bags-price {
  font-size: 1.5rem;
  font-weight: bold;
  padding: 5px;
}
.bags-image {
  width: 34rem;
  height: 34rem;
}

/* tops Main Page */
.tops-content {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.tops {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}
.tops li {
  list-style-type: none;
  padding: 0;
  flex: 0 1 34rem;
  margin: 1rem;
  height: 50rem;

  border-bottom: 0.5rem #c0c0c0 solid;
}

.tops-name {
  font-size: 1.5rem;
  font-weight: bold;
  padding: 5px;
}
.tops-brand {
  font-size: 1.2rem;
  color: #808080;
  padding: 5px;
}
.tops-price {
  font-size: 1.5rem;
  font-weight: bold;
  padding: 5px;
}
.tops-image {
  width: 34rem;
  height: 34rem;
}

/* Denim Main Page */
.denim-content {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.denim {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}
.denim li {
  list-style-type: none;
  padding: 0;
  flex: 0 1 34rem;
  margin: 1rem;
  height: 50rem;

  border-bottom: 0.5rem #c0c0c0 solid;
}

.denim-name {
  font-size: 1.5rem;
  font-weight: bold;
  padding: 5px;
}
.denim-brand {
  font-size: 1.2rem;
  color: #808080;
  padding: 5px;
}
.denim-price {
  font-size: 1.5rem;
  font-weight: bold;
  padding: 5px;
}
.denim-image {
  width: 34rem;
  height: 34rem;
}

/* banner */

.bannerWrap {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
  height: 450px;
}

/* footer */

footer {
  background-color: #b1aeae;
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

h2.footerHeading {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
}

.footerWrapper {
  display: flex;
  flex-direction: row;
  padding: 12px;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
}

.footerWrapper > li > a {
  color: white;
}

small {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2%;
  color: #ffffff;
}

/* sign nav */
.sidenav {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 160px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: -1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #ffffff; /* White */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 150px;
}

/* The navigation menu links */
.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 15px;
  color: #000000;
  display: block;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #ff0000;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}
